<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="/fragments/layout">
	<head> 
	    <title>Spring test :: Admin</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
    <body>
	    <div layout:fragment="content" class="container">

			<div class="jumbotron">
				<h1 th:text="#{admin.title}"></h1>
				<p th:text="#{admin.message}"></p>
			</div>

		</div>
    </body>
</html>