<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="/fragments/layout">
	<head> 
	    <title>Spring test :: Validation</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" type="text/css" href="/resources/style/form.css" />
	</head>
    <body>
	    <div layout:fragment="content" class="container">

			<h1 th:text="#{form.title}"></h1>

			<form th:action="@{/person/check}" th:object="${person}" method="post" class="form-horizontal">
	
				<div class="form-group">
					<label for="id" class="col-sm-2 control-label" th:text="#{global.person.id}"></label>
					<div class="col-sm-6">
						<input id="id" class="form-control"  type="text" th:field="*{id}" th:errorclass="fieldError" />
					</div>
					<div class="col-sm-4">
						<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="firstName" class="col-sm-2 control-label" th:text="#{global.person.firstName}"></label>
					<div class="col-sm-6">
						<input id="firstName" class="form-control"  type="text" th:field="*{firstName}" th:errorclass="fieldError" />
					</div>
					<div class="col-sm-4">
						<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="lastName" class="col-sm-2 control-label" th:text="#{global.person.lastName}"></label>
					<div class="col-sm-6">
						<input id="lastName" class="form-control"  type="text" th:field="*{lastName}" th:errorclass="fieldError" />
					</div>
					<div class="col-sm-4">
						<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
					</div>
				</div>
	
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
		            	<button type="submit" class="btn btn-default" th:text="#{form.validate.button}"></button>
					</div>
				</div>
			</form>

		</div>
    </body>
</html>