<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Spring test</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
    <body>
    	<div layout:include="index :: index-menu"></div>
        <form action="#" th:action="@{/person/check}" th:object="${person}" method="post">
            <table>
                <tr>
                    <td>Id:</td>
                    <td><input  type="text" th:field="*{id}" /></td>
                    <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Validate</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>