<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="/fragments/layout">
	<head> 
	    <title>Spring test :: Async Hibernate</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" type="text/css" href="/resources/style/hibernate.css" />
	    <script type="text/javascript">
	    	/*<![CDATA[*/
	    	           
	    	function addPerson() {
	    		
	    		var firstName = $("#firstNameCreatePerson").val();
	    		var lastName = $("#lastNameCreatePerson").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/person?firstName=" + firstName + "&lastName=" + lastName,
    			  method : "POST"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	           
	    	function updatePerson() {
	    		
	    		var id = $("#idPerson").val();
	    		var firstName = $("#firstNameUpdatePerson").val();
	    		var lastName = $("#lastNameUpdatePerson").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/person?id=" + id + "&firstName=" + firstName + "&lastName=" + lastName,
    			  method : "PUT"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	
	    	function showPersons() {
	    		$.get("/hibernate/persons", function(data) {
	    			$("#listPersons").text(JSON.stringify(data));
	    		});
	    	}
	    	           
	    	function addBill() {
	    		
	    		var personId = $("#idPersonCreateBill").val();
	    		var price = $("#priceCreateBill").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/bill?personId=" + personId + "&price=" + price,
    			  method : "POST"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	           
	    	function updateBill() {
	    		
	    		var id = $("#idUpdateBill").val();
	    		var personId = $("#idPersonUpdateBill").val();
	    		var price = $("#priceUpdateBill").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/bill?id=" + id + "&personId=" + personId + "&price=" + price,
    			  method : "PUT"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	
	    	function showBills() {
	    		$.get("/hibernate/bills", function(data) {
	    			$("#listBills").text(JSON.stringify(data));
	    		});
	    	}

	    	showPersons();
	    	showBills();
	    	
	    	/*]]>*/
	    </script>
	</head>
    <body>
    
    	<div layout:fragment="content">
    	
    		<div class="container">
				<h1 th:text="#{hibernate.title}"></h1>
    		</div>
    		
    		<div class="container-fluid">
    			<div class="row">
    
			    	<div class="col-sm-12 col-md-6 col-lg-4">
			    		<div class="content">

							<h3 th:text="#{hibernate.person.title}"></h3>
							<div class="form-horizontal">
								<div class="form-group">
									<textarea id="listPersons" rows="10" cols="80" class="form-control"></textarea>
								</div>
								<div class="form-group">
									<button onClick="showPersons();" class="form-control" th:text="#{hibernate.person.refresh.button}"></button>
								</div>
							</div>
							
							<h3 th:text="#{hibernate.person.add.title}"></h3>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="firstNameCreatePerson" class="col-sm-4 control-label" th:text="#{global.person.firstName}"></label>
									<div class="col-sm-8">
							        	<input id="firstNameCreatePerson" type="text" class="form-control" />
							        </div>
								</div>
								<div class="form-group">
									<label for="lastNameCreatePerson" class="col-sm-4 control-label" th:text="#{global.person.lastName}"></label>
									<div class="col-sm-8">
										<input id="lastNameCreatePerson" type="text" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<button onClick="addPerson();" th:text="#{hibernate.person.add.button}" class="form-control"></button>
									</div>
								</div>
							</div>
									
							<h3 th:text="#{hibernate.person.update.title}"></h3>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="idPerson" class="col-sm-4 control-label" th:text="#{global.person.id}"></label>
							        <div class="col-sm-8">
							        	<input id="idPerson" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<label for="firstNameUpdatePerson" class="col-sm-4 control-label" th:text="#{global.person.firstName}"></label>
							        <div class="col-sm-8">
							        	<input id="firstNameUpdatePerson" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<label for="lastNameUpdatePerson" class="col-sm-4 control-label" th:text="#{global.person.lastName}"></label>
							        <div class="col-sm-8">
							        	<input id="lastNameUpdatePerson" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<button onClick="updatePerson();" th:text="#{hibernate.person.update.button}" class="form-control"></button>
									</div>
							    </div>
							</div>
					
						</div>
					</div>
			    	<div class="col-sm-12 col-md-6 col-lg-4">
			    		<div class="content">
			
							<h3 th:text="#{hibernate.bill.title}"></h3>
							<div class="form-horizontal">
								<div class="form-group">
									<textarea id="listBills" rows="10" cols="80" class="form-control"></textarea>
								</div>
								<div class="form-group">
									<button onClick="showBills();" th:text="#{hibernate.bill.refresh.button}" class="form-control"></button>
								</div>
							</div>
				
							<h3 th:text="#{hibernate.bill.add.title}"></h3>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="idPersonCreateBill" class="col-sm-4 control-label" th:text="#{global.bill.person.id}"></label>
							        <div class="col-sm-8">
							        	<input id="idPersonCreateBill" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<label for="priceCreateBill" class="col-sm-4 control-label" th:text="#{global.bill.price}"></label>
							        <div class="col-sm-8">
							        	<input id="priceCreateBill" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<button onClick="addBill();" th:text="#{hibernate.bill.add.button}" class="form-control"></button>
									</div>
							    </div>
							</div>
									
							<h3 th:text="#{hibernate.bill.update.title}"></h3>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="idUpdateBill" class="col-sm-4 control-label" th:text="#{global.bill.id}"></label>
							        <div class="col-sm-8">
							        	<input id="idUpdateBill" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<label for="idPersonUpdateBill" class="col-sm-4 control-label" th:text="#{global.bill.person.id}"></label>
							        <div class="col-sm-8">
							        	<input id="idPersonUpdateBill" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<label for="priceUpdateBill" class="col-sm-4 control-label" th:text="#{global.bill.price}"></label>
							        <div class="col-sm-8">
							        	<input id="priceUpdateBill" type="text" class="form-control" />
							        </div>
							    </div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<button onClick="updateBill();" th:text="#{hibernate.bill.update.button}" class="form-control"></button>
									</div>
							    </div>
							</div>
					
						</div>
					</div>
			    	<div class="col-sm-12 col-md-6 col-lg-4">
			    		<div class="content">
							<h3 th:text="#{hibernate.output.title}"></h3>
							<div class="form-horizontal">
								<div class="form-group">
									<textarea id="output" rows="10" cols="80" class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    </body>
</html>