<!DOCTYPE HTML>
<html>
	<head> 
	    <title>Spring test</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    	<style type="text/css">
    		.content {
    			float: left;
    			margin: 5px;
    		}
    	</style>
	    <script type="text/javascript">
	    	/*<![CDATA[*/
	    	           
	    	function addPerson() {
	    		
	    		var firstName = $("#firstNameCreatePerson").val();
	    		var lastName = $("#lastNameCreatePerson").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/person?firstName=" + firstName + "&lastName=" + lastName,
    			  method : "POST"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	           
	    	function updatePerson() {
	    		
	    		var id = $("#idPerson").val();
	    		var firstName = $("#firstNameUpdatePerson").val();
	    		var lastName = $("#lastNameUpdatePerson").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/person?id=" + id + "&firstName=" + firstName + "&lastName=" + lastName,
    			  method : "PUT"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	
	    	function showPersons() {
	    		$.get("/hibernate/persons", function(data) {
	    			$("#listPersons").text(JSON.stringify(data));
	    		});
	    	}
	    	           
	    	function addBill() {
	    		
	    		var personId = $("#idPersonCreateBill").val();
	    		var price = $("#priceCreateBill").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/bill?personId=" + personId + "&price=" + price,
    			  method : "POST"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	           
	    	function updateBill() {
	    		
	    		var id = $("#idUpdateBill").val();
	    		var personId = $("#idPersonUpdateBill").val();
	    		var price = $("#priceUpdateBill").val();
	    		
	    		$.ajax({
    			  url: "/hibernate/bill?id=" + id + "&personId=" + personId + "&price=" + price,
    			  method : "PUT"
    			}).done(function(data) {
	    			$("#output").text(JSON.stringify(data));
    			}).error(function(error) {
	    			$("#output").text(JSON.stringify(error));
    			});
	    		
	    		return false;
	    	}
	    	
	    	function showBills() {
	    		$.get("/hibernate/bills", function(data) {
	    			$("#listBills").text(JSON.stringify(data));
	    		});
	    	}

	    	showPersons();
	    	showBills();
	    	
	    	/*]]>*/
	    </script>
	</head>
    <body>
    
    	<div layout:include="index :: index-menu"></div>
    
    	<div class="content">
    
			<h2>List of persons</h2>
			<textarea id="listPersons" rows="10" cols="80"></textarea>
			<p>
				<button onClick="showPersons();">Refresh list of persons</button>
			</p>
			
			<h2>Add a Person using Hibernate</h2>
			<table>
			    <tr>
			        <td>First Name:</td>
			        <td><input id="firstNameCreatePerson" type="text" /></td>
			    </tr>
			    <tr>
			        <td>Last Name:</td>
			        <td><input id="lastNameCreatePerson" type="text" /></td>
			    </tr>
			    <tr>
					<td><button onClick="addPerson();">Add a Person</button></td>
			    </tr>
			</table>
					
			<h2>Update a Person using Hibernate</h2>
			<table>
			    <tr>
			        <td>Id:</td>
			        <td><input id="idPerson" type="text" /></td>
			    </tr>
			    <tr>
			        <td>First Name:</td>
			        <td><input id="firstNameUpdatePerson" type="text" /></td>
			    </tr>
			    <tr>
			        <td>Last Name:</td>
			        <td><input id="lastNameUpdatePerson" type="text" /></td>
			    </tr>
			    <tr>
					<td><button onClick="updatePerson();">Update Person</button></td>
			    </tr>
			</table>
		
		</div>
    	<div class="content">

			<h2>List of bills with their person</h2>
			<textarea id="listBills" rows="10" cols="80"></textarea>
			<p>
				<button onClick="showBills();">Refresh list of bills</button>
			</p>
			
			<h2>Add a Bill using Hibernate</h2>
			<table>
			    <tr>
			        <td>Id person:</td>
			        <td><input id="idPersonCreateBill" type="text" /></td>
			    </tr>
			    <tr>
			        <td>Price:</td>
			        <td><input id="priceCreateBill" type="text" /></td>
			    </tr>
			    <tr>
					<td><button onClick="addBill();">Add a Bill</button></td>
			    </tr>
			</table>
					
			<h2>Update a Bill using Hibernate</h2>
			<table>
			    <tr>
			        <td>Id:</td>
			        <td><input id="idUpdateBill" type="text" /></td>
			    </tr>
			    <tr>
			        <td>Id person:</td>
			        <td><input id="idPersonUpdateBill" type="text" /></td>
			    </tr>
			    <tr>
			        <td>Price:</td>
			        <td><input id="priceUpdateBill" type="text" /></td>
			    </tr>
			    <tr>
					<td><button onClick="updateBill();">Update Bill</button></td>
			    </tr>
			</table>
		
		</div>
    	<div class="content">
			
			<h2>Output</h2>
			<textarea id="output" rows="10" cols="80"></textarea>
			
		</div>
    </body>
</html>